@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

body {
    font-family: "Urbanist";
    background-color:#ecfaff;
    color: #224592;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #224592;
    color: white;
    padding: .75rem .5rem;
}

header h1 {
    color: #fff;
}

main {
    padding: .5rem;
}

.form-paises {
    display: grid;
    gap: .8rem;
    padding: .75rem;
    border: 2px solid #224592;
    border-radius: .5rem;
    margin-top: 1rem;
}

.form-paises__group {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .75rem;
    position: relative;
    margin-top: .75rem;
    border: none;
}

.form-paises__group legend {
    position: absolute;
    top: -2.4rem;
    left: -0.35rem;
    background-color: #ecfaff;
    padding: 0 .25rem;
    font-weight: bold;
    font-size: 1.25rem;
}

.form-paises__group label {
    font-weight: bold;
    padding: .1rem 0;
}

.form-paises__input{
    padding: .1rem;
    outline: none;
}

.form-paises--focus:focus, .table-paises__filtro:focus{
    border: 1px solid transparent;
    outline: 2px solid #183066
}

.form-paises__button{
    justify-self: end;
    padding: .4rem .6rem;
    border-radius: .2rem;
    background-color: #72d2f1;
    color: #fff;
    border: none;
    transition: .2s;
}

.form-paises__button:hover{
    background-color: #67bcd8;
    transition: .2s;
}

/*  Seção da Tabela */

.section-table-paises{
    display: grid;
    margin: 1rem 0;
    gap: .5rem;
}

.table-paises__filtro {
    padding: .3rem 0;
    margin: .25rem 0 0;
}

.table-paises, th, td {
    border-collapse: collapse;
}


th, td { 
    width: 40%;
    padding: .25rem .35rem;
    text-align: center;
}

th:first-child, td:first-child{
    width: 20%;
}

th {
    background-color: #224592;
    color: #fff;
}

tr:nth-child(odd) td {
    background-color: #fff;
    border-bottom: 1px solid #224592;
}

tr:nth-child(even) td {
    border-bottom: 1px solid #224592;
}

.table-paise__icon-group {
    display: inline-flex;
    align-items: center;
    gap: .3rem;
}

.table-paise__icon-group img {
    display: inline-block;
    box-sizing: content-box;
}

/* Seção de naveção entre paginas */

.pagination-paises{
    margin: .25rem 0;
    display: inline-flex;
    justify-content: space-between;
    gap: .5rem;
    font-size: 0.85rem;
}

.pagination-paises__nav {
    display: inline-flex;
    align-items: center;
    gap: .3rem;
    text-decoration: none;
    background-color: #183066;
    color: #fff;
    padding: .4rem .6rem;
    border-radius: .2rem;
}

.hidden {
    display: none;
}

.stay-right{
    justify-content: flex-end;
}

.stay-left {
    justify-content: flex-start;
}

/* Footer  */
footer {
    padding: .75rem .5rem;
    text-align: center;
    font-size: .85rem;
    background-color:  #224592;
    color: #fff;
}

.footer__link {
    color: #fff;
}